{% extends "layout.html" %}
{% block content %}
  <div class="home">
	  <h3 align="center"><b>Container List [Running]</b></h3>
     <body>
      <table border = 1>
	     <tr>
               <th> Name </th>
               <th> Image </th>
	       <th> Container ID </th>
               <th> State </th>
               <th> Status </th>
            </tr>
         {% for i in result %}
            <tr>
               <td> {{ i['Names'] }} </td>
               <td> {{ i['Image'][:30] }} </td>
	       <td> {{ i['Id'][:12] }} </td>
	       <td> {{ i['State'] }} </td>
	       <td> {{ i['Status'] }} </td>
            </tr>
         {% endfor %}
      </table>
   </body>
  </div>
{% endblock %}
